.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;

  padding-left: 11px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.black {
  background-color: #000;
}

.blue {
  background-color: #0c63e7;
}

.purple {
  background-color: #8900f2;
}

.pink {
  background-color: #ff00c1;
}
