.map-two {
  width: 100%;
  height: 660px;
  margin-bottom: 20px;
}

/* Feature Overlay */

.overlay-container {
  bottom: 100%;
  left: 20%;
  margin-left: -150px;
  margin-bottom: 27px;
  width: 300px;

  position: absolute;
  text-align: left;
  padding: 10px;
  z-index: 1;

  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.overlay-container #zone::after {
  display: none;
}

.overlay-container.show-chevron #zone::after {
  display: inline;

  content: "";
  position: absolute;
  margin-left: -10px;
  top: 99%;
  left: 50%;

  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
