.map-two {
  width: 100%;
  height: 600px;
}

/* Feature Overlay */

.overlay-container {
  bottom: 100%;
  left: 20%;
  margin-left: -150px;
  margin-bottom: 27px;
  width: 300px;

  position: absolute;
  text-align: left;
  padding: 10px;
  z-index: 1;

  border-radius: 5px;
  border: 3px solid #095e78;
  background-color: white;
}

.overlay-container #zone::after {
  content: "";
  position: absolute;
  margin-left: -10px;
  top: 101%;
  left: 50%;

  border-width: 10px;
  border-style: solid;
  border-color: #095e78 transparent transparent transparent;
}
