.card-title {
  font-size: calc(1.275rem + 0.3vw);
}

.btn-custom-font {
  font-size: 18px;
}

.mini-title {
  font-size: 20px;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.help-block-custom {
  color: red;
}
