<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4 search-card animated hinge fadeIn">
        <div class="card-body">
          <h2 class="card-title mb-3">Generate Data</h2>
          <form [formGroup]="filterDataForm" (ngSubmit)="onApplyFilters()" class="row">
            <!-- NO. OF CASES -->
            <div class="row">
              <div class="form-group col-md-4 mb-3">
                <label for="no-of-cases">Number of Cases</label>
                <input formControlName="noOfCases" type="number" class="form-control" id="no-of-cases"
                  placeholder="Please enter number of cases to be generated" />
                <span class="help-block help-block-custom"
                  *ngIf="filterDataForm.get('noOfCases').touched && filterDataForm.get('noOfCases').invalid">
                  Field required. Enter a valid number.
                </span>
              </div>
            </div>
            <!-- PATIENT DEMOGRAPHICS -->
            <div formGroupName="patientDemographics" class="row">
              <h2 class="mini-title mt-3 mb-3">Patient Demographics</h2>
              <!-- <div class="form-group col-md-4 mb-3">
                <label for="full-name">Full Name</label>
                <input formControlName="fullname" type="text" class="form-control" id="full-name"
                  placeholder="Please enter full name" />
              </div> -->
              <div class="form-group col-md-4 mb-3">
                <label for="gender">Gender</label>
                <ng-multiselect-dropdown formControlName="gender" [placeholder]="'Please select gender'"
                  [settings]="dropdownSettings" [data]="genderList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="age-group">Age Group</label>
                <ng-multiselect-dropdown formControlName="ageGroup" [placeholder]="'Please select age group'"
                  [settings]="dropdownSettings" [data]="ageGroupList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="dob">Date of Birth</label>
                <input formControlName="dob" type="date" class="form-control" id="dob"
                  placeholder="Please enter date of birth" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="nationality">Nationality</label>
                <ng-multiselect-dropdown formControlName="nationality" [placeholder]="'Please select nationality'"
                  [settings]="dropdownSettings" [data]="nationalityList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="residency-status">Residency Status</label>
                <ng-multiselect-dropdown formControlName="residencyStatus"
                  [placeholder]="'Please select residency status'" [settings]="dropdownSettings"
                  [data]="residencyStatusList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!-- PATIENT ADDRESS -->
            <div formGroupName="patientAddress" class="row">
              <h2 class="mini-title mt-3 mb-3">Patient Address</h2>
              <div class="form-group col-md-4 mb-3">
                <label for="emirate">Emirate</label>
                <ng-multiselect-dropdown formControlName="emirate" [placeholder]="'Please select emirate'"
                  [settings]="dropdownSettings" [data]="emirateList" [(ngModel)]="selectedEmirateList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="region">Region</label>
                <ng-multiselect-dropdown formControlName="region" [placeholder]="'Please select region'"
                  [settings]="dropdownSettings" [data]="regionList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="zone">Zone</label>
                <ng-multiselect-dropdown formControlName="zone" [placeholder]="'Please select zone'"
                  [settings]="dropdownSettings" [data]="zoneList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="type-of-residence">Residence Type</label>
                <ng-multiselect-dropdown formControlName="typeOfResidence"
                  [placeholder]="'Please select type of residence'" [settings]="dropdownSettings"
                  [data]="residenceTypeList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="building-name">Building Name</label>
                <ng-multiselect-dropdown formControlName="buildingName" [placeholder]="'Please select building name'"
                  [settings]="dropdownSettings" [data]="patientBuildingNameList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="apartment-no">Apartment Number</label>
                <input formControlName="flatNumber" type="number" class="form-control" id="apartment-no"
                  placeholder="Please enter apartment number" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="area">Area</label>
                <ng-multiselect-dropdown formControlName="area" [placeholder]="'Please select area'"
                  [settings]="dropdownSettings" [data]="patientAreaList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="street-no">Street Number</label>
                <input formControlName="streetNumber" type="number" class="form-control" id="street-no"
                  placeholder="Please enter street number" />
              </div>
            </div>
            <!-- SCHOOL -->
            <div formGroupName="school" class="row">
              <h2 class="mini-title mt-3 mb-3">School</h2>
              <div class="form-group col-md-4 mb-3">
                <label for="institute-type">Education Institution Type</label>
                <ng-multiselect-dropdown formControlName="instituteType"
                  [placeholder]="'Please select institution type'" [settings]="dropdownSettings"
                  [data]="instituteTypeList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="school-name">School/College/University Name</label>
                <ng-multiselect-dropdown formControlName="schoolName" [placeholder]="'Please select school name'"
                  [settings]="dropdownSettings" [data]="schoolNameList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="class-number">Class Number</label>
                <input formControlName="classNumber" type="number" class="form-control" id="class-number"
                  placeholder="Please enter class number" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="class-section">Class Section</label>
                <input formControlName="classSection" type="text" class="form-control" id="class-section"
                  placeholder="Please enter class section" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="employer-emirate">Emirate</label>
                <ng-multiselect-dropdown formControlName="emirate" [placeholder]="'Please select emirate'"
                  [settings]="dropdownSettings" [data]="emirateList" [(ngModel)]="selectedEmirateList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="region">Region</label>
                <ng-multiselect-dropdown formControlName="region" [placeholder]="'Please select region'"
                  [settings]="dropdownSettings" [data]="regionList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="zone">Zone</label>
                <ng-multiselect-dropdown formControlName="zone" [placeholder]="'Please select zone'"
                  [settings]="dropdownSettings" [data]="zoneList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!-- OCCUPATION -->
            <div formGroupName="occuapation" class="row">
              <h2 class="mini-title mt-3 mb-3">Occupation</h2>
              <div class="form-group col-md-4 mb-3">
                <label for="occupation-name">Occupation Name</label>
                <ng-multiselect-dropdown formControlName="occupationName"
                  [placeholder]="'Please select occupation name'" [settings]="dropdownSettings"
                  [data]="occupationNameList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="employer-name">Employer Name</label>
                <ng-multiselect-dropdown formControlName="employerName" [placeholder]="'Please select employer name'"
                  [settings]="dropdownSettings" [data]="employerNameList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="place-of-work">Place of Work</label>
                <ng-multiselect-dropdown formControlName="placeOfWork" [placeholder]="'Please select place of work'"
                  [settings]="dropdownSettings" [data]="placeofWorkList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="employer-emirate">Emirate</label>
                <ng-multiselect-dropdown formControlName="emirate" [placeholder]="'Please select emirate'"
                  [settings]="dropdownSettings" [data]="emirateList" [(ngModel)]="selectedEmirateList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="region">Region</label>
                <ng-multiselect-dropdown formControlName="region" [placeholder]="'Please select region'"
                  [settings]="dropdownSettings" [data]="regionList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="zone">Zone</label>
                <ng-multiselect-dropdown formControlName="zone" [placeholder]="'Please select zone'"
                  [settings]="dropdownSettings" [data]="zoneList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="area">Area</label>
                <ng-multiselect-dropdown formControlName="area" [placeholder]="'Please select area'"
                  [settings]="dropdownSettings" [data]="occupationAreaList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!-- VACCINATION -->
            <div formGroupName="vaccination" class="row">
              <h2 class="mini-title mt-3 mb-3">Vaccination</h2>
              <div class="form-group col-md-4 mb-3">
                <label for="vaccination-status">COVID Vaccination Status</label>
                <ng-multiselect-dropdown formControlName="covidVaccineStatus"
                  [placeholder]="'Please select COVID vaccination status'" [settings]="dropdownSettings"
                  [data]="covidVaccineStatusList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!-- LAB TESTS -->
            <div formGroupName="labTests" class="row">
              <h2 class="mini-title mt-3 mb-3">Lab Tests</h2>
              <div class="form-group col-md-4 mb-3">
                <label for="test-date">Test Date</label>
                <input formControlName="testDate" type="date" class="form-control" id="test-date"
                  placeholder="Please enter test date" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="sampleDate">Date of Sample Collection</label>
                <input formControlName="sampleDate" type="date" class="form-control" id="sampleDate"
                  placeholder="Please enter sample collection date" />
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="performing-facility">Performing Facility</label>
                <ng-multiselect-dropdown formControlName="performingFacility"
                  [placeholder]="'Please select performing facility'" [settings]="dropdownSettings"
                  [data]="performingFacilityList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="referring-facility">Referring Facility</label>
                <ng-multiselect-dropdown formControlName="referringFacility"
                  [placeholder]="'Please select referring facility'" [settings]="dropdownSettings"
                  [data]="referringFacilityList" value="item_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!-- BUTTON -->
            <div class="row p-0">
              <div class="col-12 p-0">
                <div class="form-group col d-flex justify-content-end align-items-center pt-4">
                  <button class="btn btn-primary py-1 px-4 btn-custom"
                    [disabled]="!filterDataForm.valid">Generate</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>