<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4 search-card animated hinge fadeIn">
        <div class="card-body">
          <div id="map-three" class="map-three"></div>
          <div class="overlay-container" id="overlay-container">
            <div><b>Building: </b><span class="overlay-text" id="building-name"></span></div>
            <div><b>Street: </b><span class="overlay-text" id="street"></span></div>
            <div><b>Area: </b><span class="overlay-text" id="area"></span></div>
            <div><b>Zone: </b><span class="overlay-text" id="zone"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>